<mat-sidenav-container class="shell">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <span class="logo">◆</span>
      <span class="name">CommerceSphere</span>
    </div>
    <mat-nav-list>
      @for (link of links; track link.path) {
        <a
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: link.path === '/admin' }"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
      <span class="pill">Admin</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ user()?.firstName }} {{ user()?.lastName }}
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/admin/account">
          <mat-icon>settings</mat-icon>
          <span>Account &amp; security</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
